.facts {
  padding: 48px 0;
  .container {
    display: block;
    position: relative;
  }
}

.trezub {
  margin: auto;
  display: block;
}
.facts_text-container {
  padding-top: 24px;
  text-align: center;
  .facts_title {
    @include subaccent;
  }
  .facts_main-text {
    width: 65%;
    @include main;
    margin: 0 auto;
    text-align: center;
    padding-top: 38px;
  }
}

.facts-wrap{
  margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    position: relative;
    padding-bottom: 24px;
}

.item-wrap{
  width: calc((100% / 3) - (24px* 2) / 3);
}

.fact-item_title{
padding-top: 8px;
@include header;
}

.fact-item_desc{
  @include main;
  text-align: center;
  margin-top: 24px;
}

