.form-section {
  background: linear-gradient(90deg, #fcfefe 0%, #a5deff 100%);
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
}

//
.form_wrap-form {
  background-color: $white;
  padding: 60px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 540px;
  transition: transform 0.3s ease;

  .wrap-form_title {
    margin: 0 auto;
    text-align: center;
    padding-top: 32px;
    @include header;
  }
  .wrap-form_desc {
    margin: 0 auto;
    text-align: center;
    padding-top: 12px;
    @include main;
  }
}
.form_wrap-form:hover{
  transform: scale(1.005);
}



//
.wrap-form_header-wrap {
  align-items: center;
}
.form_wrap-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 450px;
}
.form {
  align-items: center;
  width: 100%; 
  max-width: 450px;
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  margin-top: 24px;
}
.form-field-label {
  padding-bottom: 8px;
  @include main;
}
.form-input {
  width: 417px;
  padding: 16px;
  border: 1px solid $blue;
  border-radius: 8px;
  @include main;
}


  .form_btn {
    margin-top: 48px;
    margin-top: 48px;
    padding: 10px 20px;
    font-size: 16px;
  }

